.overViewContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.DigitalCardWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  flex: 1;
}

.MiddleCardWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  flex: 2;
}