.digitalCardContainer{
  padding: 20px 30px;
}

.cardTitle{
  font-weight: 500;
  font-size: 20px;
  color: white;
  padding: 10px 0;
}

.cardContent{
  display: flex;
  padding: 10px 0;
}

.cardItemContent{
  display: flex;
  flex-direction: column;
}

.itemContent{
  display: flex;
  width: 50%;
}

.itemIcon{
  background-repeat: no-repeat;
  background-size:cover;
  width: 50px;
  height: 50px;
}

.itemContext{
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.itemTitle{
  color: white;
}

.itemNumber{
  color: white;
  font-size: 30px;
} 